project/db-data/
authentication-service/authApp
front-end/frontApp.exe
front-end/.DS_Store
front-end/cmd/.DS_Store
broker-service/brokerApp
logger-service/cmd/api/routes.go
project/Makefile
logger-service/loggerApp
project/docker-compose.yml
mail-service/mailerApp
listener-service/listenerApp
front-end/frontApp
.DS_Store
